.priority-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.priority-button:hover {
  transform: scale(1.2);
}

.add-event-button {
  display: flex;
  align-items: center;
  justify-content: center;
}