.priority-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.priority-button:hover {
  transform: scale(1.2);
}

.add-event-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-form-item-control-input {
  width: 140px;
}

/* CSS for vertical alignment of form labels and inputs */
.form-label {
  width: 150px; /* Adjust the width as needed */
  text-align: right; /* Right-align the labels for vertical alignment */
  display: inline-block;
  padding-right: 10px; /* Add some spacing between the label and input */
}

.form-input {
  width: 300px; /* Adjust the width as needed */
  display: inline-block;
  vertical-align: middle; /* Vertically align the inputs with labels */
}

.ant-modal-body {
  margin-top: 20px;
}

